

.addButton {
    width: 200px;
    height: 60px;
    background: rgba(255, 0, 0, 0.61);
    color: #000000;
    font-size: 18px;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
}