@import './theme/dark.css';
@import './theme/light.css';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app {
  background-color: var(--background-color);
  color: var(--text-color);
  width: 100%;
  font-family: 'Courier New', Courier, monospace;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
} 

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.pokemonList {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-bottom: 30px;
}
.button {
  background-color: var(--card-background);
  color: white;
  width: 200px;
  margin-top: 20px;
  height: 50px;
}


.pokemonCard {
  width: 250px;
  height: 500px;
  border: 1px solid white;
  color: var(--card-text);
  background-color: var(--card-background);
  border-radius: 8px;
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  cursor: pointer;
  padding: 15px;
}

.pokemonCard > img {
  width: 150px;
  height: 260px;
}