.wrapper {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.input {
  position: relative;
  font-size: 1.5em;
  padding: 10px;
  display: inline-block;
  border-radius: 9999em;
  border: 2px solid #10abff;
}

.input:focus + span {
  opacity: 1;
  transform: scale(1);
}
span {
  transform: scale(0.993, 0.94);
  transition: transform 0.5s, opacity 0.25s;
  opacity: 0;
  position: absolute;
  z-index: 0;
  margin: 4px;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  border-radius: inherit;
  pointer-events: none;
  box-shadow: inset 0 0 0 3px #fff, 0 0 0 4px #fff, 3px -3px 30px #1beabd,
    -3px 3px 30px #10abff;
}

.close{
  position: absolute;
  top: 25px;
  right: 25px;
}
.title {
  display: block;
}