.pagination {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 80px;
    align-items: center;
}
.pagination button {
    width: 40px;
    height: 40px;
    font-family: inherit;
    font-weight: 600;
    font-size: 16px;
    margin: 0 10px;
    border-radius: 6px;
    cursor: pointer;
    transition: all 0.3s ease;
    background: transparent;
    color: #ff0000;
    border-color: #ff0000;
}
.pagination button.active:hover{
    font-weight: 900;
    border-color: black;
    background: rgb(255, 0, 36);
    color: black;
}